*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(180deg, #fff, #e2d0b3);
	// background-image: url('../assets/sky.jpg');
	// background-size: cover;
	// background-position: center;
}

.gallery {
	// width: 80%;
	overflow: scroll;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	overflow-x: scroll;
}

.thumb {
	height: 100%;
	padding: 1em;
	display: inline-block;
}

.display {
	width: 100%;
	height: 80vh;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.expanded {
	background-color: #000;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}